button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: white; 
  border: none;
  color: #983A2E;
  text-align: center;
  margin-left: 0px;
  text-decoration: none;
  display: inline;
}