<p>
<i class="fas fa-desktop"></i>: slides; <i class="fas fa-film"></i>: recording; <i class="fas fa-link"></i>: blog post(s).
</p>
<table style="width:100%">
{{ range .Site.Data.talks }}
  <tr><td>{{ with .slides }}<a href={{ . }}><i class="fas fa-desktop"></i></a>{{ end }}{{ with .video }}<a href={{ . }}><i class="fas fa-film"></i></a>{{ end }}{{ with .links }}{{ range . }}<a href={{ .url }}><i class="fas fa-link"></i></a>{{ end }}{{ end }}</td><td width="5" /><td><strong> {{ .title }}</strong>, <a href="{{ .event_url }}">{{ .event }}</a>, {{ .type }}, {{ .date }}.</tr><tr><td height="18" /><td width="5" /><td height="18" /></tr>
{{ end }}
</table>